// 全局色
$primary-color = #008DFF
$primary-color-dark = #212B66
$primary-color-danger = #FF6A42
$fill-base = #fff
$fill-secondary = #f3f3f3

// 字体颜色
$color-text-base = #333
$color-text-secondary = #999
$color-text-base-inverse = #fff

// 字体尺寸
$font-size-sm = 0.75rem
$font-size-base = 0.875rem
$font-size-l = 1rem
$font-size-xl = 1.125rem

// 边框样式
$border-color-base = #ccc
$border-color-light = #ECECEC
$border-radius-base = 0.25rem

$ease-in-out-quint = cubic-bezier(.86, 0, .07, 1)

// 按钮高度
$button-height-base = 2.75rem
$button-height-reserve = 2.5rem
$button-height-large = 3.125rem


// list
$list-line-height = 1.5rem
