@import './reset.styl'
@import './base.styl'
@import './icon.styl'

@media screen and (min-width 375px)
  html
  /* iPhone6的375px尺寸作为16px基准，414px正好18px大小, 600 20px */
    font-size calc(100% + 2 * (100vw - 375px) / 39)
    font-size calc(16px + 2 * (100vw - 375px) / 39)

@media screen and (min-width 414px)
  html
  /* 414 ~ 1000 期间每100像素宽字体增加1px(18px-22px) */
    font-size calc(112.5% + 4 * (100vw - 414px) / 586)
    font-size calc(18px + 4 * (100vw - 414px) / 586)

@media screen and (min-width 600px)
  html
  /* 600 ~ 1000 期间每100像素宽字体增加1px(20px-24px) */
    font-size calc(125% + 4 * (100vw - 600px) / 400)
    font-size calc(20px + 4 * (100vw - 600px) / 400)

@media screen and (min-width 1000px)
  html
  /* 1000像素后大约每100像素等宽字体增加0.5px(22px-28px) */
    font-size calc(137.5% + 6 * (100vw - 1000px) / 1000)
    font-size calc(22px + 6 * (100vw - 1000px) / 1000)
